/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
    background-image: url("table.png");
}

#result {
    font-weight: bold;
    color: #2a9d8f; /* A different color to make it stand out */
}